.item {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    padding: 5px;
}
.item img {
    width: 250px;
    height: 250px; 
    border-radius: 10px;
}
.itemText {
    margin-left: 20px;
}
