.dialogs {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 1px;
}


.dialogsItems a{
    color: rgb(25, 2, 66);
    text-decoration: none;
}

.messages {
    display: grid;
    /* grid-template-columns: 2fr 2fr; */
    grid-template-rows: repeat(70px) 75px;
    grid-template-columns: repeat(2, 1fr);
    
    padding: 10px;
}

/*
grid-auto-columns: 1fr 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 75px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "messagesonly messagesonly"
    "sendmessage sendmessage"; 
}
.sendmessage { grid-area: sendmessage; }
.messagesonly { grid-area: messagesonly; }*/
.buttons {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
