.dialogs {
    display: grid;
    grid-template-columns: 2fr 3fr;

}
.dialogsItems {
    padding: 10px;
}

.dialogsItems a{
    color: rgb(6, 3, 58);
    text-decoration: none;
}

.messages {
    padding: 10px;
}
